body{
    font-family: 'Noto Sans', sans-serif;
}

button{
    margin: 30px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    transition: background,color 300ms ease-in-out;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#title{
    font-size: 40pt;
}

#value{
    font-size: 70pt;
}

.button-container{
    display: flex;
    justify-content: center;
}

button:hover{
    background-color: black;
    color: white;
}



